*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
#heading{
  color: red;
  text-decoration: underline;
  margin-top: 60px;
}
body{
  background-image: url("https://cdn.pixabay.com/photo/2019/04/29/09/33/anonymous-4165613_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
#box_1{
  background-color: black;
  opacity: 0.7;
  z-index: -1;
  min-height: 280px;
  color: #16f816;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
#input{
  height: 50px;
  width: 200px;
  font-size: 25px;
  color: red;
  }
#box_2, #box_3 {
  max-width: 100%;
  overflow: hidden;  
  background-color: black;
  opacity: 0.7;
  z-index: -1;
  height: 350px;  
  max-height: 100%;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
  opacity: 0;
  }
}
#hackedText {
  animation: blink 1s infinite;
  color: red;
  font-size: 70px;
  margin-top: 120px;
  font-weight: 700;
}
